rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
  
    function isDeviceMember(deviceId) {
      let deviceData = get(/databases/$(database)/documents/devices/$(deviceId)).data;
      return request.auth != null && (
        deviceData.owner_uid == request.auth.uid ||
        (deviceData.members != null && request.auth.uid in deviceData.members)
      );
    }

		match /{document=**}{
    	allow read, write: if request.auth != null && request.auth.uid == "UIA1lk0byYUGj3YH5JMYr0j1UNF3";

    	match /devices/{deviceId} {
      
        // Owner AND Members can read device info
        allow read: if resource.data.owner_uid == request.auth.uid || 
                     (resource.data.members != null && request.auth.uid in resource.data.members);

        // User must set themselves as owner AND member
        allow create: if request.auth != null &&
                      request.resource.data.owner_uid == request.auth.uid &&
                      request.resource.data.members.hasAll([request.auth.uid]);

        // (Admin/Owner only): Rename, add/remove members
        allow update, delete: if resource.data.owner_uid == request.auth.uid;

        match /readings/{readingId} {
          allow read: if isDeviceMember(deviceId);
          allow create: if request.auth != null && request.resource.data.keys().hasAll(['timestamp']);
        }
      }

      // For Device Sharing
      match /requests/{requestId} {
        allow create: if request.auth != null && request.resource.data.requesterUid == request.auth.uid;

        // The Owner (recipient) OR the Requester can view
        allow read: if request.auth != null && (
          resource.data.ownerUid == request.auth.uid || 
          resource.data.requesterUid == request.auth.uid
        );

        // Only the Owner (Admin) can accept/reject
        allow update: if request.auth != null && resource.data.ownerUid == request.auth.uid;
      }
    }
  }
}